<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PoE Stash Tab Tracker</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="lib/bootstrap-toggle/css/bootstrap-toggle.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet" />

  </head>

  <body ng-controller="StashTabController">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PoE Stash Valuer  </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <form class="navbar-form navbar-right" ng-submit="GetTabs()">
            <div class="form-group">
              <input ng-model="AccountName" type="text" class="form-control" placeholder="Account Name"/>
            </div>
            <div class="form-group">
              <input ng-model="SessionKey" type="text" class="form-control" placeholder="Session Key"/>
            </div>
            <button type="submit" class="btn btn-success">Get Stash Tabs</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container mainbody">
      <div class="row">
        <div class="col-xs-4">
          <!-- Tab List -->
          <div class="list-group">
            <a ng-repeat="t in Tabs"
               href="#{{t.Id}}"
               class="list-group-item list-group-item-action poe-tab-name"
               style="background-color: {{t.Colour}}"
               ng-click="SelectTab(t)"><span>{{t.Name}}</span></a>
          </div>
        </div>
        <div class="col-xs-8">
          <!-- Tab Tracking Form -->
          <form ng-show="SelectedTab" class="settings-form">
            <fieldset>
              <legend style="background-color: {{SelectedTab.Colour}}"
                      class="poe-tab-name">
                <span>Settings for tab '{{SelectedTab.Name}}'</span>
              </legend>

              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                  <input toggle-checkbox
                       class="form-check-input"
                       type="checkbox"
                       ng-model="SelectedTab.Track"
                       ng-change="TrackTabContents(SelectedTab)"
                       data-on="Update Every"
                       data-off="Not Tracking">
                </span>
                <input type="number"
                       class="form-control input-lg"
                       ng-disabled="!SelectedTab.Track"
                       ng-model="SelectedTab.UpdateInterval"/>
                <span class="input-group-addon" id="basic-addon2">minutes</span>
              </div>
            </fieldset>
          </form>
          <!-- Item List -->
          <ul class="list-group stash-tab-items">
            <li class="list-group-item" ng-repeat="i in SelectedTab.Items">
              <span class="list-group-addon">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ng-if="i.identified" title="identified"></span>
                <span class="glyphicon glyphicon-eye-close Unidentified" aria-hidden="true" ng-if="i.unidentified" title="Unidentified"></span>
                <span class="glyphicon glyphicon-question-sign Corrupted" aria-hidden="true" ng-if="i.corrupted" title="Corrupted"></span>
              </span>
              <span class="item-name {{i.rarityClass}}">{{i.displayName}}</span>

              <ul class="list-group item-affixes implicit" ng-class="(i.Affixes.Explicit.length == 0) ? 'no-explicit' : ''">
                <li ng-repeat="im in i.Affixes.Implicit">{{im.String}}</li>
              </ul>

              <ul class="list-group item-affixes explicit" ng-class="(i.Affixes.Implicit.length == 0) ? 'no-implicit' : ''">
                <li ng-repeat="ex in i.Affixes.Explicit">{{ex.String}}</li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div><!-- /.container -->

    <script src="lib/requirejs/require.js" data-main="js/main.js"></script>

    </body>
</html>
